/* 66806A B4C6A6 FFC286 FFF1AF */

a{
  text-decoration: none;
  color: green;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid #000;
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    max-width: 1200px;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 0;
    width:100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    border-radius: 0px 0px 5px 5px;
  }
  .head{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 20px;
    font-weight: 700;
    color: #32502E;
    font-size: 40px;
  }
  .head:hover{
    cursor: pointer;
    color: #6ECB63;
  }
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }
  .btn{
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
  }
  .btn:hover{
    color: rgba(0,0,0,0.7);
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
  }
  .intro{
    width: 100%;
    margin: 35px auto;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome{
    font-weight: 700;
    font-size: 30px;
  }
  .discipline{
    font-weight: 700;
    font-size: 23px;
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 14px;
    margin: 0;
    padding: 0;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
